# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# System files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

